.one {
    background-color: aqua;
}

.two {
    background-color: rgb(203, 161, 243);
}

.three {
    background-color: rgb(234, 172, 96)
}

.four {
    background-color: rgb(241, 241, 79);
}